@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600&display=swap');

* {box-sizing: border-box}

@media all and (min-width:1000px) { html { font-size: 18px; } }
@media all and (max-width:520px) { html{ font-size: 14px; } }

body {
  font-family: 'Source Serif Pro', serif;
  max-width: 800px;
  margin: 40px auto;
  font-size: 0.93rem;
  padding: 0 10px;
  color: #454545;
}

p, a :not(.uncoloured-link) {
  color: inherit;
  hyphens: auto;
}

.date {
  font-size: small;
}

h1, h2, h3 {
  line-height: 1.46;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  hyphens: none;
}

p {
  margin-bottom: 1em;
  hyphens: auto; 
}

.inline {
  display: inline;
}

.no-underline {
  text-decoration: none;
}

.right {
  text-align: right;
  float: right;
}

img {
  max-width: 100%;
}

figcaption {
  font-style: italic;
}

pre {
  width: 100%;
  overflow: auto;
}


.footer-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-nav ul li {
  list-style-type: none;
  margin: auto 10px;
}

footer {
  margin-bottom: 30px;
}

/* Summaries */
.summary {
  margin: 5px auto;
}

blockquote {
  border: 2px dashed #ccc;
  padding: 10px;
}

/* Code */
.highlight {
  margin: 5px auto;
  padding: 5px 15px;
  border: 2px dashed #ccc;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}
