<hr/>
<footer class="right">
	<nav class="footer-nav">
		<ul>
      <li><a href="mailto:{{ .Site.Params.email }}">email</a></li>
      {{ with .Site.Menus.main }}
      {{ range . }}
			<li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
			{{ end }}
      {{ end }}
      <li>&copy; {{ now.Year }} {{.Site.Params.author}}</li>
		</ul>
	</nav>
</footer>
{{- if .Site.Params.goatcounter }}
<script data-goatcounter="https://{{.Site.Params.goatcounter}}.goatcounter.com/count"
  async src="//gc.zgo.at/count.js"></script>
{{- end }}
