<hr/>
<footer>
  <nav class="footer-nav">
    <ul>
      <li><a href="{{ .Site.BaseURL }}">Archive</a></li>
      <li><a href="mailto:{{ .Site.Params.email }}">email</a></li>
      {{ with .Site.Menus.main }}
      {{ range . }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
      {{ end }}
      <li></li>
    </ul>
  </nav>
  <p>&copy; {{ now.Year }} {{.Site.Params.author}}</p>
</footer>
{{- if .Site.Params.goatcounter }}
<script data-goatcounter="https://{{.Site.Params.goatcounter}}.goatcounter.com/count"
  async src="//gc.zgo.at/count.js"></script>
{{- end }}
